
<!-- BEGIN Portlet PORTLET-->
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="glyphicon glyphicon-adjust"></i>
            <span class="caption-subject text-uppercase"> Categorize</span>
            <span class="caption-helper">categorize statement items</span>
        </div>
        <!--<div class="actions">
            <a href="javascript:;" class="btn">
                <i class="glyphicon glyphicon-pencil"></i>
                Edit
            </a>
            <a href="javascript:;" class="btn">
                <i class="glyphicon glyphicon-paperclip"></i>
                Add
            </a>
            <a href="javascript:;" class="btn btn-circle">
                <i class="glyphicon glyphicon-resize-full"></i>
            </a>
        </div>-->
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <h5>Current Uncategorized</h5>
                
            </div>
        </div>
        <div class="row">
            <h4>{{cat.currentUncategorized.description}}</h4>
        </div>

        <div class="ui-widget">
            <label for="txtCategory">Category: </label>

            <input id="txtCategory">
        </div>
        <div>
            <button ng-click="cat.updateCategory()"> Update </button>
        </div>
       
    </div>
</div>
<!-- END Portlet PORTLET-->
<input type="text" ng-model="cat.selectedCategory" ui-autocomplete="cat.myOption">
<hr/>

<div class="search-table table-responsive">
    <table st-table="buyerSearch.filteredSearchResults" st-safe-src="buyerSearch.searchResults" st-class-ascent="fa fa-sort-asc fa-fw" st-class-descent="fa fa-sort-desc fa-fw" class="table table-striped table-hover selectable">
        <caption class="text-center">
            <div st-items-by-page="10" st-pagination="" st-template="/Scripts/angular-infrastructure/custom/ui/templates/uiPagination.html"></div>
        </caption>
        <thead>
            <tr>
                <th colspan="7"><input st-search placeholder="Filter statement items..." class="input-sm form-control" type="search" /></th>
            </tr>
            <tr>
                <th st-sort="date"> Date </th>
                <th st-sort="description"> Description </th>
                <th st-sort="amount"> Amount </th>
                <th st-sort="balance"> Balance </th>
                <th st-sort="category"> Category </th>
            </tr>
        </thead>
        <tbody>
            <tr st-select-row="searchResult" ng-repeat="statementItem in cat.accountManagerModel.statementItems">
                <td st-ratio="20">{{statementItem.dateTime}}</td>
                <td st-ratio="20">{{statementItem.description}}</td>
                <td st-ratio="20">R{{statementItem.amount}}</td>
                <td st-ratio="20">R{{statementItem.balance}}</td>
                <td st-ratio="20">{{statementItem.category.name}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-items-by-page="10" st-pagination="" st-template="/Scripts/angular-infrastructure/custom/ui/templates/uiPagination.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>